<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueFlowerUnshaded0.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{92,205}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{92,205}}</string>
                <key>sourceSize</key>
                <string>{216,217}</string>
            </dict>
            <key>blueFlowerUnshaded1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{126,215}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{126,215}}</string>
                <key>sourceSize</key>
                <string>{216,217}</string>
            </dict>
            <key>blueFlowerUnshaded2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,217}}</string>
                <key>sourceSize</key>
                <string>{216,217}</string>
            </dict>
            <key>blueFlowerUnshaded3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{184,203}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{184,203}}</string>
                <key>sourceSize</key>
                <string>{216,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueFlowerUnshaded.png</string>
            <key>size</key>
            <string>{629,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3418e6f47f624fc93babdebd1ff558ac:9028f129fd89f14639d6f2a6c387f065:f0f678414c573a1462f9ea076b3cb057$</string>
            <key>textureFileName</key>
            <string>blueFlowerUnshaded.png</string>
        </dict>
    </dict>
</plist>
