<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haiku1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{234,234}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{234,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>haiku2g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>haiku3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>haiku4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>haiku5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>haiku6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>haiku7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>haiku8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haikuColorFade-hd.png</string>
            <key>size</key>
            <string>{2002,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2dd9bf6fd32423641f09dd951425814:3fd1cdcc7eeef5fcf2b7d75c3e4ac74c:2fa2ee2e87c70d35a01770c3903c5019$</string>
            <key>textureFileName</key>
            <string>haikuColorFade-hd.png</string>
        </dict>
    </dict>
</plist>
