<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haiku1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{119,117}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{119,117}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>haiku2g.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{125,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>haiku3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{125,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>haiku4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{125,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>haiku5.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>haiku6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{125,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>haiku7.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>haiku8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haikuColorFade.png</string>
            <key>size</key>
            <string>{1010,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2dd9bf6fd32423641f09dd951425814:3fd1cdcc7eeef5fcf2b7d75c3e4ac74c:2fa2ee2e87c70d35a01770c3903c5019$</string>
            <key>textureFileName</key>
            <string>haikuColorFade.png</string>
        </dict>
    </dict>
</plist>
