<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pollenManWandDown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,268},{150,208}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,43},{150,208}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,292},{130,236}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,31},{130,236}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandDown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,280},{140,264}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,53},{140,264}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandDown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,284},{136,270}}</string>
                <key>offset</key>
                <string>{11,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,88},{136,270}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,258},{161,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,174}}</string>
                <key>sourceSize</key>
                <string>{161,174}</string>
            </dict>
            <key>pollenManWandIdle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,190},{232,206}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,80},{232,206}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandIdle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{254,182}}</string>
                <key>offset</key>
                <string>{-43,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,81},{254,182}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandIdle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{242,186}}</string>
                <key>offset</key>
                <string>{-23,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,42},{242,186}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandSide0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{276,200}}</string>
                <key>offset</key>
                <string>{-63,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,92},{276,200}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandSide1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,198}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,94},{394,198}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandSide2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{264,212}}</string>
                <key>offset</key>
                <string>{69,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,80},{264,212}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandSide3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{348,208}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,80},{348,208}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandUp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{190,288}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{190,288}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{148,280}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,13},{148,280}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{144,276}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,13},{144,276}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>pollenManWandUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{232,242}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,20},{232,242}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pollenManWand.pvr.ccz</string>
            <key>size</key>
            <string>{1978,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd608399ff126d8b68f41ecba5e4ede2:505156c6c6294ba3adf4c56da25c70a6:6c19a00d22b10f6738d275dfb6656a36$</string>
            <key>textureFileName</key>
            <string>pollenManWand.pvr.ccz</string>
        </dict>
    </dict>
</plist>
