<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pollenManHammerDown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{150,204}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,46},{150,204}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{130,228}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,38},{130,228}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerDown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{140,304}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,52},{140,304}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerDown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{136,268}}</string>
                <key>offset</key>
                <string>{11,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,88},{136,268}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,232},{171,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,175}}</string>
                <key>sourceSize</key>
                <string>{171,175}</string>
            </dict>
            <key>pollenManHammerIdle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,290},{236,206}}</string>
                <key>offset</key>
                <string>{-50,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,79},{236,206}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerIdle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,308},{260,182}}</string>
                <key>offset</key>
                <string>{-46,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,80},{260,182}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerIdle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{246,182}}</string>
                <key>offset</key>
                <string>{-25,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,45},{246,182}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerSide0.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{276,200}}</string>
                <key>offset</key>
                <string>{-63,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,91},{276,200}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerSide1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,198}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,93},{394,198}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerSide2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,280},{264,212}}</string>
                <key>offset</key>
                <string>{69,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,79},{264,212}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerSide3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{348,208}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,79},{348,208}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerUp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{190,286}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{190,286}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{148,280}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,12},{148,280}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,352},{144,276}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,12},{144,276}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
            <key>pollenManHammerUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,250},{232,242}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,19},{232,242}}</string>
                <key>sourceSize</key>
                <string>{402,356}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pollenManHammer.pvr.ccz</string>
            <key>size</key>
            <string>{1705,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf007616c6392f834b472d2c1e27ecb3:b05cede882549c587ed9ceccf5ecf885:46fa9af3d39b72e749a0e24751733a8e$</string>
            <key>textureFileName</key>
            <string>pollenManHammer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
