<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redFlowerShaded0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{89,159}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{89,159}}</string>
                <key>sourceSize</key>
                <string>{225,167}</string>
            </dict>
            <key>redFlowerShaded1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,238},{119,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{119,149}}</string>
                <key>sourceSize</key>
                <string>{225,167}</string>
            </dict>
            <key>redFlowerShaded2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{205,133}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{205,133}}</string>
                <key>sourceSize</key>
                <string>{225,167}</string>
            </dict>
            <key>redFlowerShaded3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,99}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{215,99}}</string>
                <key>sourceSize</key>
                <string>{225,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redFlowerShaded.png</string>
            <key>size</key>
            <string>{219,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd6da8e906d07dbf4dfd568a306e8547:2f826fd1a5807a3dba50e4f66f8f7228:d2541793f6270e8d6effdbfa8474d13e$</string>
            <key>textureFileName</key>
            <string>redFlowerShaded.png</string>
        </dict>
    </dict>
</plist>
