<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>count10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>counter9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{400,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spidderEyeCounter-ipadhd.png</string>
            <key>size</key>
            <string>{404,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:243d9e5bc7b039e5a8aa655312d9a858:69c4101af9a2f29ded7e6c93b47a527c:4e985e2d769109248383b9049a1f19c9$</string>
            <key>textureFileName</key>
            <string>spidderEyeCounter-ipadhd.png</string>
        </dict>
    </dict>
</plist>
