<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>count10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>counter9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{200,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spidderEyeCounter-hd.png</string>
            <key>size</key>
            <string>{204,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:243d9e5bc7b039e5a8aa655312d9a858:69c4101af9a2f29ded7e6c93b47a527c:4e985e2d769109248383b9049a1f19c9$</string>
            <key>textureFileName</key>
            <string>spidderEyeCounter-hd.png</string>
        </dict>
    </dict>
</plist>
