<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whiteFlowerShaded0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,201},{74,183}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,14},{74,183}}</string>
                <key>sourceSize</key>
                <string>{188,197}</string>
            </dict>
            <key>whiteFlowerShaded1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{100,179}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,16},{100,179}}</string>
                <key>sourceSize</key>
                <string>{188,197}</string>
            </dict>
            <key>whiteFlowerShaded2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{148,187}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{148,187}}</string>
                <key>sourceSize</key>
                <string>{188,197}</string>
            </dict>
            <key>whiteFlowerShaded3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,197}}</string>
                <key>sourceSize</key>
                <string>{188,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>whiteFlowerShaded.png</string>
            <key>size</key>
            <string>{228,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4ee52fdf2bd7d352a90047eb66a279:99f6ef3edde8a50cb00ea8c0d13c620d:83e86a7677486c235d1eb5813a103312$</string>
            <key>textureFileName</key>
            <string>whiteFlowerShaded.png</string>
        </dict>
    </dict>
</plist>
